# index for non-login
<h1>Home#index</h1>
<p><h1>Posts</h1>

<turbo-frame id="posts">
  <%= render @posts %> <!-- This will render each post using the partial _post.html.erb -->
</turbo-frame>

<p>Sign in to create or interact with posts.</p>
<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>