<% posts.each do |post| %>
    <div id="post_<%= post.id %>">
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p><%= post.body %></p>
      <small>Comments: <%= post.comments.count %></small>
    </div>
<% end %>
  